cewa537_venv
data
pix4d_labs
qgis_maps
*/__pycache__
```
```
final_project/pyntcloud_plot.config.json
final_project/pyntcloud_plot.html
final_project/pyntcloud_plot.ply
final_project/snow_depth_map_time.png
final_project/snow_depth_time.png
final_project/pyntcloud_plot_assets/ball.png
final_project/pyntcloud_plot_assets/circle.png
final_project/pyntcloud_plot_assets/dat.gui.min.js
final_project/pyntcloud_plot_assets/Detector.js
final_project/pyntcloud_plot_assets/disc.png
final_project/pyntcloud_plot_assets/jquery.min.js
final_project/pyntcloud_plot_assets/OrbitControls.js
final_project/pyntcloud_plot_assets/PLYLoader.js
final_project/pyntcloud_plot_assets/pyntcloud_logo.png
final_project/pyntcloud_plot_assets/pyntcloud_sprite.png
final_project/pyntcloud_plot_assets/python_logo.png
final_project/pyntcloud_plot_assets/stats.min.js
final_project/pyntcloud_plot_assets/three.min.js
